# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.idea
.htaccess
*.xml
apple-touch-icon-precomposed.png
favicon.ico
humans.txt
